@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: rgb(4, 4, 4);
  font-family: "Poppins", sans-serif;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.077);
}

::-webkit-scrollbar-thumb {
  background: rgb(68, 58, 58);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* ---------------------------------------- */

header {
  position: absolute;
  left: 0;
  right: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: transparent;
  color: white;
}

nav h1 {
  font-size: 2rem;
  font-family: "Great Vibes", cursive;
}

nav > ul {
  list-style-type: none;
  display: flex;
}

nav > ul > li {
  padding: 10px;
  font-weight: 400;
}

span {
  display: none;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.menubars {
  background-color: white;
  margin-bottom: 3px;
  height: 2px;
  width: 23px;
}

.coverImage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 700px;
  background:linear-gradient(#00000000 75%, #000000), url("https://images.unsplash.com/photo-1598653222000-6b7b7a552625?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.coverImage > h1 {
  font-size: 150px;
  font-family: "Great Vibes", cursive;
}

.coverImage3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/7654250/pexels-photo-7654250.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 400px;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(155%);
}

.coverImage3 > h2 {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Josefin Slab", serif;
  font-family: "Kalam", cursive;
  font-size: 10px;
  color: rgb(156, 69, 2);
}

.imagefade {
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 70%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 200px;
  text-align: center;
  color: white;
}

.section2 > h1 {
  font-size: 25px;
  padding-bottom: 20px;
}

.tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-wrap: wrap;
}

.tiles > button {
  width: 745px;
  height: 450px;
  margin: 5px;
  color: white;
  font-size: 50px;
  border: none;
  font-family: "Bebas Neue", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.btnhover:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.btnhover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
}

.button1 {
  background-image: url("https://images.pexels.com/photos/8197350/pexels-photo-8197350.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
}

.button2 {
  background-image: url("https://images.pexels.com/photos/542552/pexels-photo-542552.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
}

.button3 {
  background-image: url("https://images.pexels.com/photos/8476438/pexels-photo-8476438.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
}

.button4 {
  background-image: url("https://images.pexels.com/photos/7087608/pexels-photo-7087608.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: left;
}

.button5 {
  background-image: url("https://images.pexels.com/photos/4054465/pexels-photo-4054465.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
}

.button6 {
  background-image: url("https://img.freepik.com/premium-photo/sound-engineer-working-studio-with-equipment_1157-47933.jpg?w=900");
  background-position: center;
}

/* .button7 {
    background-image: url("https://images.pexels.com/photos/2718645/pexels-photo-2718645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
  } */

.insta {
  margin-top: 30px;
}

.insta > h2 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.section2 {
  padding-bottom: 100px;
}

/* Styling for smaller displays */

@media (max-width: 800px) {
  nav {
    padding-left: 15px;
    padding-right: 15px;
  }
  span {
    display: contents;
  }
  nav > ul {
    display: none;
  }
  nav h1 {
    font-size: 20px;
  }
  .coverImage > h1 {
    font-size: 3rem;
    font-family: "Great Vibes", cursive;
  }
  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    text-align: center;
    color: white;
  }

  .section2 > h1 {
    font-size: 15px;
    padding-bottom: 20px;
  }
  .section2 > p {
    font-size: 10px;
    padding-bottom: 20px;
  }
}

/* end of smaller display code------------------------------------------------------------ */



/* /////////////////////////////////////////////////////////////////////////// */

/* Music Production Cover */
/* .coverImageMP {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 550px;
  background-image: url("https://img.freepik.com/free-photo/close-up-sound-engineer-hands-recording-music_1157-47932.jpg?w=1060&t=st=1690632642~exp=1690633242~hmac=805324b4e2e43c7e5b1365bb116f2ad782d47a39fdc56c867f6313fa7473dc51");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

.coverImageMP {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 750px;
  background-image: linear-gradient(#00000000 0%, #000000 ),url("https://images.unsplash.com/photo-1517353334933-3365be5c8ec3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.coverImageMP > h1 {
  font-size: 80px;
  letter-spacing: 4px;
  border: none;
  font-family: "Bebas Neue", sans-serif;
}

/* Mixing and Mastering Cover */
.coverImageMM {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 550px;
  background-image: linear-gradient(#00000000 0%, #000000 ),url("https://images.unsplash.com/photo-1509310202330-aec5af561c6b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1209&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.coverImageMM > h1 {
  font-size: 80px;
  letter-spacing: 4px;
  border: none;
  font-family: "Bebas Neue", sans-serif;
}

/* Studio Recording Cover */
.coverImageSR {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 550px;
  background-image: linear-gradient(#00000000 0%, #000000 ),url("https://images.pexels.com/photos/3783471/pexels-photo-3783471.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top 30%;
}

.coverImageSR > h1 {
  font-size: 80px;
  letter-spacing: 4px;
  border: none;
  font-family: "Bebas Neue", sans-serif;
}

/* Sound Design Cover */
.coverImageSD {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 550px;
  background:linear-gradient(#00000000 0%, #000000 ), url("https://images.pexels.com/photos/4016627/pexels-photo-4016627.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.coverImageSD > h1 {
  font-size: 80px;
  letter-spacing: 4px;
  border: none;
  font-family: "Bebas Neue", sans-serif;
}


/* Film Scoring Cover */
.coverImageFS {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 550px;
  background-image: linear-gradient(#00000000 0%, #000000 ),url("https://images.pexels.com/photos/8100067/pexels-photo-8100067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.coverImageFS > h1 {
  font-size: 80px;
  letter-spacing: 4px;
  border: none;
  font-family: "Bebas Neue", sans-serif;
}

/* Post Production Cover */
.coverImagePP {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 550px;
  background-image: linear-gradient(#00000000 0%, #000000 ),url("https://images.pexels.com/photos/12840332/pexels-photo-12840332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.coverImagePP > h1 {
  font-size: 80px;
  letter-spacing: 4px;
  border: none;
  font-family: "Bebas Neue", sans-serif;
}

.tileDescription {
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 50px 100px;
}

.descOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin-bottom: 50px;
}

.descOne > h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
}

.descOne > p {
  font-size: 15px;
}

.descTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

.descTwo > h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
}
.descTwo h2 {
  font-size: 20px;
}
.descTwo p {
  font-size: 15px;
}

.offerStack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10%;
}

.offerStack > img {
  height: 100px;
  margin-right: 1px;
  object-fit: fill;
}

.video1 {
  display: flex;
  justify-content: center;
  height: 500px;
} 

.video1 > iframe{
  border: solid ;
  margin:10px;
  border-color: rgb(74, 74, 74);
  border-width: 3px;
  border-radius: 10px; 
  
}


/* .vid1 {
  width: 50%;
} */

/* MAKING THE FORM */
.container {
  width: 100%;
  height: 30vh;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Horizontal line between form button */
hr {
  height: 0.01rem;
  border-color: rgb(236, 99, 49);
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

/* Styles for the pop-up form */
.popup-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Button styles for opening the form */
.open-form-button {
  background: rgb(244, 79, 19);
  color: #fff;
  font-size: 18px;
  font-weight: bolder;
  border: 0;
  outline: none;
  cursor: pointer;
  width: max-content;
  margin: 20px auto;
  /* border-radius: 30px; */
  text-align: center;
  padding: 15px;
}

.open-form-button:hover {
  background: rgb(240, 101, 50);
  /* Change color on hover */
}

.form-container {
  background: white;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-height: 80%; /* Set a maximum height for the form */
  overflow-y: auto; /* Add vertical scroll when content exceeds max-height */
}

/* Styles for the close button */
.close-button {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 15px;
}

.close-button:hover {
  transform: scale(1.2); /* Scale up on hover for a cool effect */
}

/* form{
  background: white;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
} */
form > h3 {
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}

/* Style the form rows */
.form-row {
  margin-bottom: 15px; /* Adjust the margin between rows as needed */
}

/* Style the inputs and textarea */
.form-row input,
.form-row textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Expand the input fields to fill the row */
}

form > input,
form > textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Expand the input fields to fill the row */
}

form > button {
  padding: 15px;
  text-align: center;
  background: rgb(244, 79, 19);
  color: #fff;
  font-size: 18px;
  font-weight: bolder;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
}

/* Styles for the pop-up form */
#popup-form-thanks {
  display: none;
  padding: 2vw 4vw;
  width: 90%;
  max-width: max-content;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%; /* Set a maximum height for the form */
  overflow-y: auto; /* Add vertical scroll when content exceeds max-height */
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Styles for the close button */
.close-btn-thanks {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.close-btn-thanks:hover {
  transform: scale(1.2); /* Scale up on hover for a cool effect */
}

/* Accordion FAQ CSS below */
h4 {
  color: white;
  text-align: center;
  font-size: larger;
  margin-top: 50px;
}

/* .faq-body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 100px;
}
.faq-item {
  /* display: flex;
  flex-direction: column; */
  flex-basis: max-width;
  flex-grow: 1;
  flex-shrink: 0;
  width: 550px;
  margin: 10px;
}

.accordion {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 20px 15px;
  width: 100%;
  border: 1px solid lightgray;
  text-align: left;
  outline: none;
  font-size: 12px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: none;
}

.accordion:after {
  content: "+";
  color: orangered;
  font-weight: bold;
  font-size: medium;
  float: left;
  margin-right: 10px;
}

.active:after {
  content: "-";
  color: red;
  font-size: 15px;
}

.panel {
  background-color: none;
  color: rgb(110, 109, 109);
  max-height: 0;
  border-top: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  margin-top: 10px;
  font-size: 14px;
}

footer {
  padding: 20px;
  background-color: rgb(34, 33, 33);
  color: white;
  text-align: center;
}


/* Styling for smaller displays */

@media (max-width: 800px) {
  span {
    display: contents;
  }
  nav > ul {
    display: none;
  }
  nav h1 {
    font-size: 20px;
  }
  .coverImageMP > h1 {
    font-size: 3rem;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    padding: 10px;
  }

  .tileDescription {
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 50px 20px;
  }

  .descOne > h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 15px;
  }

  .descOne > p {
    font-size: 10px;
  }

  .descTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
  }

  .descTwo > h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 15px;
  }
  .descTwo h2 {
    font-size: 15px;
  }
  .descTwo p {
    font-size: 10px;
  }

  .offerStack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10%;
  }

  .offerStack > img {
    height: 50px;
    margin-right: 5%;
  }


  .video1 {
    display: flex;
    justify-content: center;
    height: 200px;
  }

  .vid1 {
    width: 90%;
  }

  .popup-form {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  padding: 5px;
  max-width: 650px;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

  /* Accordion FAQ CSS below */
  h4 {
    color: white;
    text-align: center;
    font-size: larger;
    margin-top: 50px;
    font-size: 20px;
  }

  .faq-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .faq-item {
    /* display: flex;
  flex-direction: column; */
    flex-basis: max-width;
    flex-grow: 1;
    flex-shrink: 0;
    width: 290px;
    margin: 5px 3px;
  }

  .accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 20px 2px;
    width: 100%;
    border: 1px solid lightgray;
    text-align: left;
    outline: none;
    font-size: 8px;
    transition: 0.4s;
  }

  .active,
  .accordion:hover {
    background-color: none;
  }

  .accordion:after {
    content: "+";
    color: orangered;
    font-weight: bold;
    font-size: small;
    float: left;
    margin-right: 10px;
  }

  .active:after {
    content: "-";
    color: red;
    font-size: 15px;
  }

  .panel {
    background-color: none;
    color: rgb(110, 109, 109);
    max-height: 0;
    border-top: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .panel p {
    margin-top: 10px;
    font-size: 10px;
  }

}

/* end of smaller display code------------------------------------------------------------ */
.coverImageAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 750px;
  background-image: url("https://images.unsplash.com/photo-1517353334933-3365be5c8ec3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.coverImageAbout > h1 {
  font-size: 80px;
  letter-spacing: 4px;
  border: none;
  font-family: "Bebas Neue", sans-serif;
}
.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 200px;
  text-align: center;
  color: white;
}
.aboutSection > h1 {
  font-size: 22px;
  padding-bottom: 20px;
  font-weight: 500;
}
.aboutSection > p {
  font-size: 15px;
  padding-bottom: 20px;
}
@media (max-width: 800px) {
  .coverImageAbout {
    height: 600px;
  }
  .coverImageAbout > h1 {
    font-size: 3rem;
    font-family: "Bebas Neue", sans-serif;
  }
  .aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px 10px;
    text-align: center;
    color: white;
  }
  .aboutSection > h1 {
    font-size: 15px;
    padding-bottom: 20px;
    font-weight: 500;
  }
  .aboutSection > p {
    font-size: 10px;
    padding-bottom: 25px;
  }
}


/* --------scrolling arrow ----- */

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}
